* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
header {
  position: sticky;
  top: 0;
  background-color: rgba(4, 73, 144, 1.00);
  z-index: 1000;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
  background-color: rgba(4, 73, 144, 1.00);
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.brand {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  flex-grow: 1;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-left: auto;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Hero Section */
.hero {
  position: relative;
  background-image: url('../robotics/robotics-homepage.jpg');
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.hero h1 {
  font-size: 3em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

/* Content Section */
