* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
header {
  position: sticky;
  top: 0;
  background-color: rgba( 4, 73, 144, 1.00 );
  z-index: 1000;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
  background-color: rgba( 4, 73, 144, 1.00 );
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.brand {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase; /* Always capitalize text */
  flex-grow: 1; /* Expand to fill space */
}

.nav-links {
  list-style: none;
  display: flex;
  margin-left: auto;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase; /* Always capitalize text */
  flex-grow: 1; /* Expand to fill space */
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Hero Section */
.hero {
  position: relative;
  background-image: url('../robotics/robotics-homepage.jpg');
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.hero h1 {
  font-size: 3em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

/* Content Section */
.content {
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: center;
}


.carousel-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px; /* Set the max width for the carousel */
  height: 400px; /* Set a fixed height for consistent cropping */
  overflow: hidden;
}

.carousel-image {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Resize and crop images to fit */
}


.carousel-image:first-child {
  display: block;
}

/* Carousel indicators (dots) */
.carousel-indicators {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: white;
}

.description {
  flex: 1;
  padding: 0 20px;
  font-size: 1.2em;
}

/* Add any additional styles as needed */
